@font-face {
  font-family: 'BentonSansCond-Light';
  src: url("../fonts/BentonSansCond/BentonSansCond-Light.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BentonSansCond-Book';
  src: url("../fonts/BentonSansCond/BentonSansCond-Book.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BentonSansCond-Bold';
  src: url("../fonts/BentonSansCond/BentonSansCond-Bold.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham/gotham-book.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_Oswald-Bold';
  src: url("../fonts/oswald-bold/Oswald-Bold.eot");
  src: url("../fonts/oswald-bold/Oswald-Bold.woff") format("woff"), url("../fonts/oswald-bold/Oswald-Bold.ttf") format("truetype"), url("../fonts/oswald-bold/Oswald-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_Oswald-ExtraLight';
  src: url("../fonts/oswald-extra-light/Oswald-ExtraLight.eot");
  src: url("../fonts/oswald-extra-light/Oswald-ExtraLight.woff") format("woff"), url("../fonts/oswald-extra-light/Oswald-ExtraLight.ttf") format("truetype"), url("../fonts/oswald-extra-light/Oswald-ExtraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_Oswald-Medium';
  src: url("../fonts/oswald-medium/Oswald-Medium.eot");
  src: url("../fonts/oswald-medium/Oswald-Medium.woff") format("woff"), url("../fonts/oswald-medium/Oswald-Medium.ttf") format("truetype"), url("../fonts/oswald-medium/Oswald-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  width: 100%;
  margin: 0;
  font-family: BentonSansCond-Book; }

img {
  max-width: 100%; }

.page-header {
  display: flex;
  position: relative;
  z-index: 10;
  background-color: #edeae6; }

.page-header__logo {
  padding-left: 58px;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 225px;
  height: 84px; }

.page-header__right {
  margin-left: auto;
  margin-top: 2px; }

.user-block {
  display: flex;
  margin-bottom: 51px;
  margin-left: auto;
  justify-content: flex-end; }

.user-block__user {
  align-self: center;
  position: relative;
  margin-right: 17px;
  padding-left: 30px;
  color: #283b4d;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300; }
  .user-block__user::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    background-image: url("../../img/user.png");
    background-repeat: no-repeat; }

.user-block__item {
  background-image: url("../../img/qwer.png");
  width: 31px;
  height: 32px;
  margin-right: 48px; }

.user-block__mail {
  background-image: url("../../img/mail.png");
  width: 37px;
  height: 30px;
  margin-right: 33px; }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px; }

.main-nav__item {
  display: inline-block; }

.main-nav__item a {
  text-decoration: none;
  color: #283b4d;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 25px;
  font-family: BentonSansCond-Bold;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700; }

.main-nav__item-1 {
  margin-right: 67px; }

.main-nav__item-2 {
  margin-right: 45px; }

.main-nav__item-3 {
  margin-right: 49px; }

.main-header {
  text-align: center; }

.main-header h1 {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  margin-top: 56px;
  margin-bottom: 52px; }

.page-main__wrapper {
  display: flex;
  justify-content: space-between; }

.main-left {
  margin-left: 31px; }

.main-left-up {
  width: 249px;
  background-color: #f7f6f4;
  padding-top: 19px;
  padding-bottom: 12px;
  margin-bottom: 40px; }

.main-left h2 {
  font-family: BentonSansCond-Bold;
  font-size: 25px;
  font-weight: 700;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 24px; }

.main-left-up__btn {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

.main-left-down {
  width: 249px;
  padding-bottom: 14px;
  padding-top: 19px;
  background-color: #f7f6f4; }
  .main-left-down__img {
    padding-left: 18px; }

.main-left-down__img p {
  font-family: BentonSansCond-Book;
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 20px; }

.main-left-down__btn {
  margin-top: 25px; }

.main-center {
  width: 823px;
  padding-left: 25px;
  padding-right: 25px; }

.main-center__header, .main-center__footer {
  padding-left: 55px;
  margin-bottom: 25px; }

.main-center__wrapper {
  border: 1px solid #dddfe1;
  background-color: #f8f6f5; }

.main-center__header p, .main-center__footer p {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  margin: 8px 0; }
  .main-center__header p::before, .main-center__footer p::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 31px;
    left: -43px;
    background-image: url("../../img/shape.png");
    background-repeat: no-repeat; }

.main-center__header time, .main-center__footer time {
  display: block;
  font-size: 12px;
  font-weight: 300;
  color: #5f5e5f;
  margin-top: -5px; }

.main-center__table {
  border-collapse: collapse;
  margin-bottom: 42px;
  margin-right: 25px;
  margin-left: 25px; }

.main-center__table tr:nth-child(2n-1) {
  background-color: #f3f1ee; }

.main-center__table td {
  font-size: 14px;
  font-weight: 300;
  padding-top: 19px;
  padding-bottom: 6px; }

td.table-head {
  font-family: BentonSansCond-Bold;
  font-weight: 700; }

.main-center__item {
  width: 60px;
  text-align: center;
  vertical-align: top; }

.main-center__descr {
  width: 713px;
  padding-left: 20px; }

.main-center__descr .read-note {
  font-size: 10px;
  color: #f6bc88; }

.main-center__descr p {
  background: none;
  margin: 10px 0; }

.main-center__btn {
  display: flex;
  margin-left: auto;
  margin-bottom: 57px;
  margin-right: 25px; }

.main-center__footer {
  margin-top: 22px;
  border: 1px solid #dddfe1;
  background-color: #f8f6f5; }

.main-right {
  margin-right: 28px; }

.main-right__wrapper {
  width: 230px;
  padding-left: 19px;
  padding-top: 19px;
  background-color: #f7f6f4; }

.main-right__wrapper h2 {
  font-family: BentonSansCond-Bold;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px; }

.main-right__up {
  margin-bottom: 29px;
  padding-bottom: 4px; }

.main-right__up p {
  margin: 12px 0;
  font-size: 12px; }

.main-right__up span {
  font-size: 14px; }

.main-right__center {
  margin-bottom: 38px;
  padding-bottom: 7px; }

.main-right__list {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  list-style: none; }

.main-right__list li {
  position: relative;
  margin-bottom: 25px;
  padding-left: 35px;
  font-size: 14px;
  font-weight: 300; }
  .main-right__list li:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 23px;
    background: url("../../img/main-right1.png") no-repeat;
    left: 0;
    top: -4px; }
  .main-right__list li:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 23px;
    background: url("../../img/main-right2.png") no-repeat -114px -60px;
    left: 0;
    top: -4px; }
  .main-right__list li:nth-child(3)::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid #ec7d08;
    border-radius: 50%;
    background-color: #ec7d08;
    left: 0;
    top: -4px; }
  .main-right__list li:nth-child(4)::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid #ec7d08;
    border-radius: 50%;
    left: 0;
    top: -4px; }

.main-right__text-up-img {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 6px; }

.main-right__down {
  padding-bottom: 8px; }

.main-right__text-down-img {
  margin: 0;
  margin-bottom: 27px;
  font-size: 10px;
  font-weight: 700; }

.main-right__text-down p {
  font-size: 14px;
  margin: 14px 0; }

.btn {
  display: block;
  width: 213px;
  height: 16px;
  padding: 15px 0;
  font-family: BentonSansCond-Bold;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #f79f51; }

.main-nav__item--position {
  margin-right: 46px; }

.main-nav__item--position:nth-child(3) {
  margin-right: 61px; }

a.main-nav--btn {
  margin-right: 48px;
  margin-top: 29px;
  padding: 15px 0;
  color: white;
  text-transform: none; }

.user-block--position {
  margin-bottom: 0; }

.user-block__user--position {
  margin-right: 48px;
  margin-top: 12px;
  margin-bottom: 0; }

.page-header__logo--position {
  margin-top: auto; }

.main-nav__item--active {
  border-bottom: 7px solid #283b4d; }

.block-img {
  position: relative;
  display: block;
  margin-top: -132px; }

.block-img__text {
  position: absolute;
  z-index: 5;
  top: 149px;
  left: 0;
  box-sizing: border-box;
  width: 844px;
  height: 544px;
  padding-left: 42px;
  padding-top: 193px;
  padding-bottom: 198px;
  padding-right: 50px; }
  .block-img__text:before {
    content: "";
    position: absolute;
    width: 966px;
    height: 792px;
    top: 0px;
    left: 0px;
    z-index: 4;
    opacity: 0.75;
    background-image: url("../../img/oval.png"); }

.block-img__text p {
  position: relative;
  z-index: 8;
  margin: 0;
  margin-bottom: 35px;
  font-family: BentonSansCond-Bold;
  font-size: 75px;
  font-weight: 700; }

.block-img--btn {
  position: relative;
  z-index: 8; }

.block-stats {
  margin-top: 115px;
  margin-bottom: 101px;
  display: flex;
  justify-content: center; }

.block-stats__p {
  display: inline-block;
  text-align: center;
  margin-left: 89px;
  margin-right: 89px; }

.block-stats__p--p1 {
  font-family: BentonSansCond-Bold;
  font-size: 125px;
  font-weight: 700;
  margin: 0; }

.block-stats__p--p2 {
  font-family: BentonSansCond-Book;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  margin-top: -35px; }

.block-stats__p {
  color: #283b4d; }

.block-stats__p--color {
  color: #f79f51; }

.container--works {
  width: 1440px;
  margin-right: auto;
  margin-left: auto; }

.works {
  margin-right: auto;
  margin-left: auto;
  padding-top: 62px;
  text-align: center;
  background-color: #f7f6f4; }

.main-h2 {
  margin: 0;
  margin-bottom: 32px;
  font-family: BentonSansCond-Bold;
  font-size: 60px;
  font-weight: 700;
  color: #283b4d; }

.works__up {
  margin-bottom: 68px; }

.works__up p {
  display: inline-block;
  margin: 0; }

.works__up--p1 {
  font-family: BentonSansCond-Book;
  font-size: 25px;
  font-weight: 300;
  color: #485867; }

.works__up--p2 {
  position: relative;
  padding: 15px 23px;
  padding-right: 38px;
  border: 1px solid #e0e0e5;
  border-radius: 5px;
  font-size: 14px;
  font-family: Gotham-Book;
  font-weight: 300;
  color: #a0a3a9; }
  .works__up--p2:hover::after {
    cursor: pointer; }
  .works__up--p2::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 14px;
    right: 12px;
    top: 16px;
    background: url("../../img/icons/arrow-down.png") no-repeat; }

.works__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 23px;
  text-align: center; }

.works__item {
  width: 290px;
  margin-left: 8%;
  margin-right: 5%;
  margin-bottom: 132px;
  padding-top: 150px; }

.works__item--boat {
  position: relative; }
  .works__item--boat::before {
    content: "";
    position: absolute;
    width: 114px;
    height: 114px;
    bottom: 88px;
    left: 88px;
    background: url("../../img/boat.png") no-repeat 0 0; }

.works__item--account {
  position: relative; }
  .works__item--account::before {
    content: "";
    position: absolute;
    width: 122px;
    height: 122px;
    bottom: 81px;
    left: 88px;
    background: url("../../img/account.png") no-repeat 0 0; }

.works__item--start {
  position: relative; }
  .works__item--start::before {
    content: "";
    position: absolute;
    width: 137px;
    height: 134px;
    bottom: 81px;
    left: 88px;
    background: url("../../img/start.png") no-repeat 0 0; }

.works__item--bids {
  position: relative; }
  .works__item--bids::before {
    content: "";
    position: absolute;
    width: 116px;
    height: 150px;
    bottom: 151px;
    left: 88px;
    background: url("../../img/bids.png") no-repeat 0 0; }

.works__item--offer {
  position: relative; }
  .works__item--offer::before {
    content: "";
    position: absolute;
    width: 116px;
    height: 116px;
    bottom: 118px;
    left: 88px;
    background: url("../../img/offer.png") no-repeat 0 0; }

.works__item--process {
  position: relative; }
  .works__item--process::before {
    content: "";
    position: absolute;
    width: 122px;
    height: 122px;
    bottom: 156px;
    left: 88px;
    background: url("../../img/process.png") no-repeat 0 0; }

.works__item p {
  font-size: 40px;
  font-weight: 300;
  color: #485867;
  margin-bottom: 0; }

.works__btn {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  padding-bottom: 55px; }

.sliderA {
  width: 100%;
  height: 862px;
  position: relative;
  text-align: center; }

.sliderA > input {
  display: none; }

.sliderA > input + label {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 8px;
  border: 2px solid white;
  cursor: pointer;
  z-index: 100;
  position: relative;
  margin-right: 14px;
  top: 95%;
  transition: background 0.8s ease-out 0s; }

.sliderA > input + label:hover {
  background: rgba(250, 250, 250, 0.8); }

.sliderA > input:checked + label {
  border: 4px solid #f79f51; }

.sliderA > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0; }

.sliderA > div {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s; }

.sliderA > input:checked + label + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s; }

.people {
  text-align: center; }

.main-h2--people {
  margin-top: 56px;
  margin-bottom: 55px; }

.people__saying {
  display: flex;
  justify-content: space-between; }

.people__item {
  width: 394px;
  margin-right: auto;
  margin-left: auto; }
  .people__item:first-child {
    margin-right: 40px; }
  .people__item:nth-child(2) {
    margin: 0; }
  .people__item:last-child {
    margin-left: 40px; }

.people__item1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: BentonSansCond-Light;
  font-size: 24px;
  font-weight: 300;
  color: #4a4a4a; }

.people__item2 {
  margin: 0;
  font-family: BentonSansCond-Light;
  font-size: 18px;
  font-weight: 300;
  color: #283b4d; }

.people__saying {
  margin-bottom: 63px; }

.people-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 86px; }

.btn--people {
  background: none;
  color: #283b4d;
  border: 1px solid #5a8ea1; }

.trusted {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f7f6f4; }

.trusted__item {
  display: inline-block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
  margin-top: 48px; }
  .trusted__item--1 {
    margin-right: 10px; }
  .trusted__item--2 {
    margin-right: 48px;
    margin-left: 0; }
  .trusted__item--3 {
    margin-right: 57px;
    margin-left: 0; }
  .trusted__item--4 {
    margin-right: 65px;
    margin-left: 0; }
  .trusted__item--5 {
    margin-right: 57px;
    margin-left: 0; }
  .trusted__item--6 {
    margin-left: 0; }

.trusted__item p {
  font-family: BentonSansCond-Bold;
  font-size: 30px;
  font-weight: 700;
  line-height: 85px;
  margin: 0; }
