.paginator {
  display: flex;
}

.paginator a {
  text-decoration: none;
  font-family: BentonSansCond-Light;
  font-size: 20px;
  color: #283b4d;

  padding: 5px 10px;
}

a.paginator__current {
  font-family: BentonSansCond-Bold;
  font-weight: 700;
}

a.paginator__bold {
  font-family: BentonSansCond-Bold;
  font-weight: 700;
}

a.paginator__prev {
  position: relative;
  padding-left: 25px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background: url("../../img/rectangle-41.svg") no-repeat;
    transform: rotate(180deg);
    left: 5px;
  }
}

a.paginator__next {
  position: relative;
  padding-right: 25px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background: url("../../img/rectangle-41.svg") no-repeat;
    right: 5px;
  }
}