body {
  width: 100%;
  margin: 0;

  font-family: BentonSansCond-Book;
}

.container {

  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.container-flex--header {
  display: flex;

  background-color: #edeae6;
}

.container-flex--footer {
  display: flex;

  background-color: #283b4d;
}

img {
  max-width: 100%;
  //height: auto;
}

/*забираємо в інпутів placeholder*/
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}