.auctions-main__main {
  display: flex;
  justify-content: space-between;
}

.auctions-main__right {
  width: 1136px;
  box-sizing: border-box;
  padding-right: 22px;
}

.auctions-main__right-header {
  width: 1094px;
  height: 40px;
  box-sizing: border-box;

  background-color: #f7f6f4;
  text-align: center;
  vertical-align: middle;

  margin-bottom: 18px;
}

.auctions-main__right-header p {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 12px;

  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
}

.auctions-main__right-header span {
  padding-left: 15px;
  padding-right: 15px;
}

.auctions-main__right--search {

  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
}

.auctions-main__right--wrapper {
  display: flex;
  justify-content: space-between;
}

.auctions-main__item {
  width: 544px;
  min-height: 208px;
  margin-bottom: 25px;

  display: flex;
  justify-content: space-between;
}

.auctions-main__descr {
  width: 295px;
  height: 208px;
  padding-left: 15px;
  padding-right: 17px;
  box-sizing: border-box;
  padding-top: 10px;

  background-color: #f7f6f4;
}

.auctions-main__descr h3 {
  margin: 0;
  font-size: 20px;
  line-height: 19px;
  color: #283b4d;
  margin-bottom: 5px;
}

.auctions-main__descr h3 + p {
  margin: 0;
  font-size: 12px;
  color: #283b4d;
  padding-bottom: 5px;
  border-bottom: 1px solid #979797;
}

.auctions-main__bid-range{
  margin-top: 8px;

  text-align: center;
}

.auctions-main__bid-range p {
  margin: 0;

  font-size: 12px;
  color: #283b4d;
}

p.auctions-main__bid-amount {
  font-family: BentonSansCond-Bold;
  font-weight: 700;
  font-size: 24px;
  color: #283b4d;
  line-height: 23px;

  margin-top: 19px;
  margin-bottom: 14px;
}

.auctions-main__bid-range p:last-of-type {
  padding-bottom: 5px;
  border-bottom: 1px solid #979797;
}

.auctions-main__bid-date {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}

.auctions-main__bid-ends p {
  font-size: 12px;
  color: #283b4d;
  line-height: 11px;
  margin: 0;
  margin-bottom: 7px;
}

.auctions-main__bid-ends span {
  font-family: BentonSansCond-Bold;
  font-weight: 700;
}

.auctions-main__bid-btn {
  padding: 0;
  width: 145px;
  height: 34px;
  box-sizing: border-box;
  background: none;

  font-size: 16px;
  color: #00467f;
  line-height: 15px;
  border: 2px solid #5a8ea1;
  padding-top: 10px;
  padding-bottom: 7px;
}