.auctions-form__bids label{
  padding-left: 23px;
}

.radio-btn:not(checked) + label::before {
  width: 11px;
  height: 11px;

  border: 1px solid #5a8ea1;
  border-radius: 50%;

  top: 3px;
  left: 0;
}

.radio-btn:not(checked) + label::after {
  width: 7px;
  height: 7px;
  left: 2px;
  top: 5px;

  border: 1px solid #5a8ea1;
  background-color: #5a8ea1;
  border-radius: 70%;
}

.auctions-form__bids--label {
  margin-bottom: 9px;
}